_*.bat
_*.txt
.babelrc
.coveralls.yml
.eslintrc.js
.gitattributes
.nyc_output
.travis.yml
.tscache
.vscode
node_modules
npm-debug.log
prettier.config.js
rollup.config.js
src
temp
test
tsconfig.json
tslint.json
yarn.lock
